@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public EventCallback OnOverlayClick { get; set; }
}

<div class="modal add-customer-modal">
    <div class="modal-content">
        <header>Add customer</header>
        @ChildContent
    </div>
</div>

<div class="modal-overlay" onclick=@OnOverlayClick></div>
