#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

#header .title {
    font-size: 30px;
    font-weight: bold;
}

#header .actions {
    display: flex;
    align-items: center;
}

#header .actions a {
    margin-left: 20px;
}
