@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Type { get; set; }

    [Parameter]
    public bool IsFetching { get; set; }

    [Parameter]
    public bool IsPrimary { get; set; } = true;

    [Parameter]
    public Action OnClick { get; set; }
}

<button type=@Type onclick=@OnClick class=@($"action-button waves-effect waves-light btn-large {(IsPrimary ? "" : "blue-grey lighten-2")}") disabled=@(IsFetching ? "disabled" : null)>
    @if (IsFetching)
    {
        <div class="loader">
            <Loading Size="small" />
        </div>
    }

    @ChildContent
</button>