@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public string Color { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }
}

<a onclick=@OnClick class=@($"btn-floating btn-large waves-effect waves-light {Color}") title=@Title>
    <i class="material-icons">@Icon</i>
</a>